<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error {{ errorCode }}: {{ errorMsg }} | Fuel UX Builder</title>
	<link rel="stylesheet" href="/css/errors.css" />
</head>
<body>
	{{{ body }}}
</body>
</html>

